* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 100px 1fr 100px;
}

header {
    background-color: #ff5c5c;
    padding: 10px;
}

header img {
    max-width: 80px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessao1 img {
    max-width: 200px;
}











































































































































































































































































































































































.fundo-cinza {
    background-color: rgb(243, 241, 241);
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}

.fundo-branco {
    padding: 25px;
    width: 100%;
    display: flex;
    align-items: center;
}


.conteudo {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 0 auto;
}


.conteudo > h1 {
    align-self: center;
}

.form-contato {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}
 
.form-contato input {
    width: 250px;
}
#mensagem {
    height: 230px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: whitesmoke;
    padding: 10px;
 
}

footer img {
    width: 15px;
    margin: 0 2px;
}

footer a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px;
    transition: 0.5s;
}

footer a:hover {
    color: #ff5c5c;

}

.redes-sociais {
    display: flex;
   align-items: center;
}